* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f5f5;
}
 
h1 {
  margin-bottom: 15px;
  text-align: center;
}
 
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
}
 
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #ffa41b;
}
 
.categories-navigation {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 16px 10px 6px;
  white-space: nowrap;
  overflow-x: scroll;
}
 
.category-navigation-link {
  text-decoration: unset;
  color: inherit;
  cursor: pointer;
}
 
.button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffa41b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ffa41b;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #ffa41b;
  color: #fff;
  border: solid 2px #fff;
}
 
.logo {
  border: none;
}
 
.button-primary {
  background-color: #ffa41b;
  color: white;
}
 
.text-field-with-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 4px;
}
 
.main-search-field {
  width: 100%;
  min-width: 120px;
  max-width: 360px;
  flex-grow: 1;
}
 
.text-field {
  height: 40px;
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
}
 
.link-button {
  text-decoration: none;
}
 
.desktop-long-label {
  display: none;
}
 
.main-content {
  max-width: 832px;
  padding: 0 16px;
  margin: 25vh auto 48px;
}
 
.recent-ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
 
.ad-card-container {
  border-radius: 8px;
  border: 1px solid lightgray;
  color: inherit;
  background-color: white;
  cursor: pointer;
}
 
.ad-card-link {
  text-decoration: inherit;
  color: inherit;
}
 
.ad-card-image-container {
  width: 100%;
  height: 200px;
}

.ad-card-image {
  border-radius: 8px 8px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
 
.ad-card-text {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
 
.ad-card-title {
  font-weight: bold;
}

.ad-card-title .link-title {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-in-out;
}

.ad-card-title .link-title:hover {
  color: #c4801b;
}

.ad-card-price {
  font-weight: 700;
  color: #FFA41B;
}

.ad-card-content {
  padding-bottom: 20px;
  padding-left: 5px;
}

.ad-card-category {
  background: #FFA41B;
  width: fit-content;
  border-radius: 8px;
}

.ad-card-category p {
  padding: 5px 10px;
  font-weight: 500;
}

.tag {
  display: inline-block;
  margin-right: 10px;
  background: #00000085;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
}

.ad-card-update, .ad-card-delete {
  display: inline-block;
}

.ad-card-update {
  margin-right: 10px;
  text-decoration: none;
}

.ad-details {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.ad-details-image-container {
  height: 250px;
  overflow: hidden;
  margin-top: 50px;
}
 
.ad-details-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.ad-details-title {
  text-align: left;
}

.ad-details-price {
  font-size: 1.2rem;
}

.ad-details-description p {
  margin: 0;
}

.ad-details-location {
  margin: 15px 0;
}

.ad-details-location .fa-location-dot {
  margin-right: 10px;
  color: #FFA41B;
}

.mailBtn i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;  
}

.form label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-field {
  width: 100%;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form h4 {
  margin: 0 0 10px;
}
.checkbox-container label {
  margin-right: 15px;
  display: flex;
  align-items: center;
  width: auto;
  padding: 5px 10px;
  background: #FFA41B;
  border-radius: 8px;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
}

.create-ad {
  width: fit-content;
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 720px) {
  .mobile-short-label {
    display: none;
  }
  .desktop-long-label {
    display: initial;
  }
 
  .categories-navigation {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
  }
 
  .ad-details-image-container {
    margin-inline-start: unset;
    margin-inline-end: unset;
  }
 
  .ad-details {
    grid-template-columns: 1fr 388px;
  }
}
 
.ad-details-info {
  display: grid;
  gap: 12px;
  align-content: baseline;
}
 
.ad-details-price {
  font-weight: bold;
}
 
.separator {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  border: none;
}